<nav class="arriba">
    <div class="nav-wrappe">
      <a href="#" class="brand-logo"><img src="http://i44.photobucket.com/albums/f27/Neuen_Mobilia/aaasasasasasasasasasasas_zpsbaapdr4l.png" width="80" height="30"></a>
    </div>
    <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large waves-effect waves-yellow"><i class="material-icons">menu</i></a>
</nav>

<ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="./assets/img/negro.png">
        </div>
        <a href="#!user"><img class="circle" src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg"></a>
        <a href="#!name"><span class="white-text name">Mr Bean</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a [routerLink]="['listasmias']" ><i class="material-icons">view_list</i>Mis listas</a></li>
    <li><a [routerLink]="['listascompartidas']"  ><i class="material-icons">speaker_notes</i>Listas compartidas</a></li>
    <li><a href="#!"><i class="material-icons">notifications</i>Notificaciones</a></li>
    <li class="divider"></li><br>
    <li><a href="#!"><i class="material-icons">settings</i>Ajustes</a></li>
    <li><a href="#!"><i class="material-icons">power_settings_new</i>Cerrar sesion</a></li>
</ul>
