<app-header></app-header>
<div class="cabeza">
  <h3 class="ui center aligned icon header white-text"><i class="circular + to list icon"></i> Listas </h3>
<div>

<div class="ui styled fluid accordion transparent">
  <div class="title white-text"><i class="dropdown icon"></i> <i class="huge icons"><i class=" circular  inverted child icon"></i><i class="circular inverted corner  users  icon"></i></i>Todas </div>
  <div class="content">
    <ul class="collection">
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text  ">Asado Futbol</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text">Previa Sabado</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Todo el alcohol para los pibes </p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text">Mates Domingo</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Comida</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons white-text ">share</i></a>
        <p>Para la escula de los chicos </p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Comida 2</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Para casa, fijarce en heladera</p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Alimentos no peresederos</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Todos </p>
      </li>
    </ul>
  </div>
  <div class="title white-text"><i class="huge dropdown icon"></i> <i class="circular  inverted huge child icon"></i>Mis Listas </div>
  <div class="content">
    <ul class="collection">
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Comida</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons white-text ">share</i></a>
        <p>Para la escula de los chicos </p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Comida 2</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Para casa, fijarce en heladera</p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle purple lighten-1">insert_chart</i>
        <span class="title black-text">Alimentos no peresederos</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Todos </p>
      </li>
    </ul>
  </div>
  <div class="title white-text"><i class="dropdown icon"></i> <i class="circular inverted huge users icon"></i>Listas Compartidas </div>
  <div class="content">
    <ul class="collection">
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text  ">Asado Futbol</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text">Previa Sabado</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
        <p>Todo el alcohol para los pibes </p>
      </li>
      <li class="collection-item avatar ">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title black-text">Mates Domingo</span>
        <a href="#modal1" class="secondary-content"><i class="material-icons  white-text">share</i></a>
      </li>
    </ul>
  </div>

</div>





  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Para:</h4>
       <p>Elegi una app, numero de telefono o crea un vinculo</p>
      <div class="ui medium celled selection list">
        <div class="item">
          <img class="ui avatar image" src="../../assets/img/link.png">
          <div class="content">
            <div class="header">Generar Vinculo</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="../../assets/img/app.png">
          <div class="content">
            <div class="header">MrList</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="../../assets/img/whatsapp.png">
          <div class="content">
            <div class="header">Whatsapp</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="../../assets/img/messenger.png">
          <div class="content">
            <div class="header">Mesennger</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="../../assets/img/sms.png">
          <div class="content">
            <div class="header">SMS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
