<app-header></app-header>
<div class="row">
  <div class="col col s12">
    <!--   seccion mis listas -->
  <ul class="collection with-header">
    <li class="collection-header center-align"><h5>Mis Listas</h5></li>
    <li class="collection-item avatar">
      <i class="material-icons circle purple lighten-1">insert_chart</i>
      <span class="title">Comida</span>
      <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>
      <p>Para la escula de los chicos </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle purple lighten-1">insert_chart</i>
      <span class="title">Comida 2</span>
      <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>
      <p>Para casa, fijarce en heladera</p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle purple lighten-1">insert_chart</i>
      <span class="title">Alimentos no peresederos</span>
      <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>
      <p>Todos </p>
    </li>
  </ul>
</div>
</div>
