<!--Boton Flotante de agregar-->
<div class="fixed-action-btn click-to-toggle">
   <a class="btn-floating btn-large red lighten-1"><i class="large material-icons">add</i></a>
 <ul>
   <li><a class="btn-floating red"><i class="material-icons">account_box</i></a> </li>
   <li><a class="btn-floating yellow darken-1"><i class="material-icons">local_post_office</i></a></li>
   <li><a class="btn-floating green"><i class="material-icons">chevron_right</i></a></li>
   <li><a class="btn-floating blue"><i class="material-icons">format_list_bulleted</i></a></li>
   <li><a class="btn-floating pink"><i class="material-icons">access_alarms</i></a></li>
   <li><a class="btn-floating violet"><i class="material-icons">add_shopping_cart</i></a></li>
 </ul>
</div>
