<video poster="/assets/video.mp4" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="/assets/video.mp4" type="video/webm">
<source src="/assets/hs.mp4" type="video/mp4">
</video>

<section class="row">
  <div class="center-align imgMrList">
    <img class="center" src="http://i44.photobucket.com/albums/f27/Neuen_Mobilia/aaasasasasasasasasasasas_zpsbaapdr4l.png" alt="" width="300" height="120">
  </div>
</section>

<section class="coso single-item slider">
     <div class="card-panel transparent">
       <h3 class="center-align "><i class="add to cart icon"></i>Hacer las compras nunca fue tan facil</h3>
     </div>
     <div class="card-panel transparent">
       <h3 class="center-align "><i class="bar icon"></i>Listas grupales para organizar con tus amigos</h3>
     </div>
     <div class="card-panel transparent">
       <h3 class="center-align "><i class="barcode icon"></i>Escanea lo que te falta y listo</h3>
     </div>
</section>



<div class="redes center-align">
  <img src="./assets/img/1.png" class="img-fluid pull-xs-left" width="60" height="60">
  <img src="./assets/img/2.png" class="img-fluid pull-xs-left" width="60" height="60">
  <img src="./assets/img/3.png" class="img-fluid pull-xs-left" width="60" height="60">
  <img src="./assets/img/4.png" class="img-fluid pull-xs-left" width="60" height="60">
</div>
