<app-header></app-header>
  <div class="row">
    <div class="col col s12">
      <ul class="collection with-header">
        <li class="collection-header center-align"><h5>Listas Compartidas</h5></li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Asado Futbol</span>
          <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Previa Sabado</span>
          <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>

          <p>Todo el alcohol para los pibes </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Mates Domingo</span>
          <a href="#!" class="secondary-content"><i class="material-icons">share</i></a>
        </li>
      </ul>
  </div>
</div>
