.botones{
  position:fixed; /*El div será ubicado con relación a la pantalla*/
  left:0px; /*A la derecha deje un espacio de 0px*/
  bottom:0px; /*Abajo deje un espacio de 0px*/
  z-index:0;
  float: left;
}
