<app-header></app-header>

<div class="cabeza">
  <h3 class="ui center aligned icon header white-text"><i class="circular  to edit icon"></i> NombreDeLaLista </h3>
<div>
<input placeholder="Titulo" class="white-text" id="input_text" type="text">
<div class="field_wrapper">

</div>
<div class="botones">
      <button class="btn-floating btn-large waves-effect waves-light red"><i class="barcode icon"></i> Scan</button>
      <a href="javascript:void(0);" class="add_button btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<div>
<app-flotante></app-flotante>
