<app-header></app-header>
<div class="cabeza">
  <h3 class="ui center aligned icon header white-text"><i class="circular + to cart icon"></i> ¿Que te hace falta? </h3>
</div>
<div>
  <button  class="ui green compact labeled icon button fluid large"><i class="barcode icon"></i> Scan</button>
</div>
  <div class="input-field  blue-grey darken-3">
   <input  id="search" type="search" required>
   <label class="label-icon" for="search"><i class="material-icons">search</i></label>
 </div>
 <div class="card-block ">
  <h3 class=" center aligned  white-text">Productos recientes</h3>
  <div class="ui middle aligned divided list caja-productos">
    <div class="item">
      <div class="right floated content">
        <div class="ui button green basic ">+</div>
      </div>
      <img class="ui avatar image" src="https://http2.mlstatic.com/caja-de-leche-en-polvo-entera-ilolay-de-800g-super-oferta--D_NQ_NP_500911-MLA20655831257_042016-O.jpg">
      <div class="content"><p class="white-text">Leche Ilolay Entera 1L </p></div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button green basic ">+</div>
      </div>
      <img class="ui avatar image" src="http://www.molinos.com.ar/media/161447/oro_producto.jpg">
      <div class="content"><p class="white-text">Arroz Gallo 500g</p> </div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button green basic ">+</div>
      </div>
      <img class="ui avatar image" src="https://elcabeza.files.wordpress.com/2008/02/fernet-branca.jpg">
      <div class="content"><p class="white-text">Fernet Branca 750cm</p> </div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button  green basic">+</div>
      </div>
      <img class="ui avatar image" src="https://images-na.ssl-images-amazon.com/images/I/5156FefjlqL._SY355_.jpg">
      <div class="content"><p class="white-text">Coca-Cola 2.25L</p></div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button  green basic">+</div>
      </div>
      <img class="ui avatar image" src="https://images-na.ssl-images-amazon.com/images/I/5156FefjlqL._SY355_.jpg">
      <div class="content"><p class="white-text">Te La virginia x100</p></div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button  green basic">+</div>
      </div>
      <img class="ui avatar image" src="https://images-na.ssl-images-amazon.com/images/I/5156FefjlqL._SY355_.jpg">
      <div class="content"><p class="white-text">Te La virginia x100</p></div>
    </div>
    <div class="item">
      <div class="right floated content">
        <div class="ui button  green basic">+</div>
      </div>
      <img class="ui avatar image" src="https://images-na.ssl-images-amazon.com/images/I/5156FefjlqL._SY355_.jpg">
      <div class="content"><p class="white-text">Te La virginia x100</p></div>
    </div>
  </div>
</div>
